@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   
    @*Give some info about the Book Store Website*@

    <p class="lead">This is a Book Store Website. You can buy <a asp-action="Index" asp-controller="Book">books</a>  from here.</p>


</div>
