@model IEnumerable<Book>;

@*Make a book store webiste*@


@{

    ViewBag.Title = "PageTurner";

    var sbooks = Book.BookSearch.getSearchedBook();
}

                                                    


<h1 class="text-center">Browse Books</h1>
<div class="row">
    @*Make it with cards*@
    @foreach (var book in sbooks ?? Enumerable.Empty<Book>())
    {
        @*Put 3 books in a row*@


        <div class="col cols-md-3 g-3">

            <a href="@Url.Action("Details", "Book", new { id = book.Id })">
                <div class="card book-card" style="width: 25rem;">
                    <img src="./Images/book.png" class="card-img-top mg-2" alt="Books">
                    <div class="card-body">
                        <h5 class="card-title">@book.Title</h5>
                        @*Author*@
                        <p class="card-text ">@book.Author</p>
                        @*Price*@
                        <p class="card-text fw-bold">Price: $@book.Price</p>
                        @*When the user clicks on the button, it should add it to the cart*@

                        <a  asp-action="AddToCart" asp-controller="Book"
                           asp-route-id="@book.Id" class="btn addcartbtn btn-primary float-end">
                           <i class="fa fa-shopping-basket" aria-hidden="true"></i> Add to cart</a>

                    </div>
                </div>

            </a>
        </div>
            

           

    }

</div>

<style>
        
    .addcartbtn{
        /*pill shape*/
        
        border-radius: 20px;
        background: rgb(33,33,37);
        background: linear-gradient(98deg, rgba(33,33,37,1) 5%, rgba(57,57,59,1) 65%, rgba(90,95,96,1) 94%);
        border: 1px solid #333;
        
    }

    .addcartbtn:hover{
        background-color: white;
        color: black;
            border: 1px solid #333;
        }

    .book-card{
        margin-bottom: 2rem;
        border: 1px solid #333;
    }

        a{
           text-decoration: none;
           color: black;

        }

        a:hover{
            text-decoration: none;
            color: black;

        }

</style>